
._canvas .canvas-nav{
    position: absolute;
    top: -38px;
    height: 32px;
    left: 0;
    display: flex;
    background: #ffffff;
    padding: 0 20px;
}
._canvas .canvas-nav .item{
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 20px;
    position: relative;
}
._canvas .canvas-nav .item.action{

}
._canvas .canvas-nav .item ._option{
    display: none;
    top: calc(100% + 10px);
    background: #ffffff;
    position: absolute;
    height: 28px;
    left: 0;
    padding: 0 10px;
    border-radius: 4px;
}
._canvas .canvas-nav .item.action ._option{
    display: flex;
}
._canvas .canvas-nav .item ._option ._item{
    width: 28px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
._canvas .canvas-nav .item ._option ._top_a{
    position: absolute;
    width: 20px;
    height: 10px;
    background-size: cover;
    background-image: url("./img/top_a.png");
    top: -10px;
    left: 6px;
}
._canvas .canvas-nav .item ._option ._size .main{
    background: #bfbfbf;
    border-radius: 100%;
}
._canvas .canvas-nav .item ._option ._size ._small{
    width: 10px;
    height: 10px;
}
._canvas .canvas-nav .item ._option ._size ._middle{
    width: 14px;
    height: 14px;
}
._canvas .canvas-nav .item ._option ._size ._big{
    width: 18px;
    height: 18px;
}
._canvas .canvas-nav .item ._option ._size .main:hover{
    background: forestgreen;
}
._canvas .canvas-nav .item ._option ._size .main.action{
    background: forestgreen;
}

._canvas .canvas-nav .item ._option ._color .color{
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}

._canvas .canvas-nav .item ._option ._color .color._d81e06{
    background: #d81e06;
}
._canvas .canvas-nav .item ._option ._color .color._ea9518{
    background: #ea9518;
}
._canvas .canvas-nav .item ._option ._color .color._2aa515{
    background: #2aa515;
}
._canvas .canvas-nav .item ._option ._color .color._1296db{
    background: #1296db;
}
._canvas .canvas-nav .item ._option ._color .color._2c2c2c{
    background: #2c2c2c;
}
._canvas .canvas-nav .item ._option ._color .color._515151{
    background: #515151;
}
._canvas .canvas-nav .item ._option ._color .color._bfbfbf{
    background: #bfbfbf;
}

._canvas .canvas-nav .item ._option ._color .color._d81e06:hover,._canvas .canvas-nav .item ._option ._color ._d81e06.action{
    background: none;
    border:4px solid #d81e06;
}
._canvas .canvas-nav .item ._option ._color .color._ea9518:hover,._canvas .canvas-nav .item ._option ._color ._ea9518.action{
    background: none;
    border:4px solid #ea9518;
}
._canvas .canvas-nav .item ._option ._color .color._2aa515:hover,._canvas .canvas-nav .item ._option ._color ._2aa515.action{
    background: none;
    border:4px solid #2aa515;
}
._canvas .canvas-nav .item ._option ._color .color._1296db:hover,._canvas .canvas-nav .item ._option ._color ._1296db.action{
    background: none;
    border:4px solid #1296db;

}
._canvas .canvas-nav .item ._option ._color .color._2c2c2c:hover,._canvas .canvas-nav .item ._option ._color ._2c2c2c.action{
    background: none;
    border:4px solid #2c2c2c;
}
._canvas .canvas-nav .item ._option ._color .color._515151:hover,._canvas .canvas-nav .item ._option ._color ._515151.action{
    background: none;
    border:4px solid #515151;
}
._canvas .canvas-nav .item ._option ._color .color._bfbfbf:hover,._canvas .canvas-nav .item ._option ._color ._bfbfbf.action{
    background: none;
    border:4px solid #bfbfbf;
}





._canvas .canvas-nav .item:nth-child(1){
    margin-left: 0;
}
._canvas .canvas-nav .item._withdraw{
    background-image: url("./img/withdraw.png");
    background-size: 62%;
}
._canvas .canvas-nav .item._line{
    background-image: url("./img/line.png");
    background-size: 62%;
}
._canvas .canvas-nav .item._rec{
    background-image: url("./img/rec.png");
    background-size: 62%;
}
._canvas .canvas-nav .item._arc{
    background-image: url("./img/arc.png");
    background-size: 82%;
}
._canvas .canvas-nav .item._font{
    background-image: url("./img/font.png");
    background-size: 60%;
}
._canvas .canvas-nav .item._arrows{
    background-image: url("./img/arrows.png");
    background-size: 62%;
}

._canvas .canvas-nav .item._download{
    background-image: url("./img/download.png");
    background-size: 62%;
}

._canvas .canvas-nav .item._withdraw:hover{
    background-image: url("./img/_withdraw.png");

}
._canvas .canvas-nav .item._line:hover{
    background-image: url("./img/_line.png");

}
._canvas .canvas-nav .item._rec:hover{
    background-image: url("./img/_rec.png");

}
._canvas .canvas-nav .item._arc:hover{
    background-image: url("./img/_arc.png");

}
._canvas .canvas-nav .item._font:hover{
    background-image: url("./img/_font.png");

}
._canvas .canvas-nav .item._arrows:hover{
    background-image: url("./img/_arrows.png");

}
._canvas .canvas-nav .item._download:hover{
    background-image: url("./img/_download.png");
    background-size: 62%;
}



._canvas .canvas-textarea{
    border:1px solid red;
    height: auto;
    position: absolute;
    background: none;
    overflow-y: hidden;
}
._canvas ._drag_node{

}